<header class="bg-[var(--primary)] p-5">
  <div class="flex justify-between items-center">
    <img src="/logo.png" alt="Logo" class="h-10" />
    <div class="align-middle text-md text-white">
      <ul>
        <a routerLink="/home"
          ><li class="inline-block mx-2 cursor-pointer hover:text-[var(--accent)]">Home</li></a
        >
        <a routerLink="/transform"
          ><li class="inline-block mx-2 cursor-pointer hover:text-[var(--accent)]">Transform</li></a
        >
        <a routerLink="/about"
          ><li class="inline-block mx-2 cursor-pointer hover:text-[var(--accent)]">About</li></a
        >
      </ul>
    </div>

    <div>
      <a
        routerLink="/favorites"
        class="mx-2 text-md text-white cursor-pointer hover:text-[var(--accent)]"
        >Favorites</a
      >
    </div>
  </div>
</header>
