<header class="bg-[var(--primary)] p-5">
  <div class="flex justify-between items-center">
    <div class="text-2xl font-bold text-white">LOGO</div>
    <div class="align-middle text-lg text-white">
      <ul>
        <a routerLink="/home"><li class="inline-block mx-2 cursor-pointer">Home</li></a>
        <a routerLink="/transform"><li class="inline-block mx-2 cursor-pointer">Transform</li></a>
        <a routerLink="/about"><li class="inline-block mx-2 cursor-pointer">About</li></a>
      </ul>
    </div>

    <div>
      <a routerLink="/about" class="mx-2 text-lg text-white">Favorites</a>
    </div>
  </div>
</header>
