<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="text-gray-800">{{ pokemon?.name }}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="pokemon?.sprites?.front_default"
    [alt]="'Photo of ' + (pokemon?.name || 'Unknown')"
  />
  <mat-card-content class="text-black">
    <p class="mt-4">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agi1le dog that copes very well with mountainous terrain, the Shiba Inu was
      originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions>
</mat-card>
