@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
@import 'tailwindcss';

:root[data-theme='light'] {
  --text: #1a1a2e;
  --background: #d8dbe4;
  --primary: #f13b3b;
  --secondary: #023d6e;
  --accent: #e6b800;

  --card-background: #e4e8ed;
}
:root[data-theme='dark'] {
  --text: #eae9fc;
  --background: #05080a;
  --primary: #f13b3b;
  --secondary: #3b4cca;
  --accent: #fac800;

  --card-background: #f5f8fa;
}

main {
  @apply m-4;
  color: var(--text);
}

html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--text);
}
body {
  font-family: 'Press Start 2P', cursive;
}
